body {
  background-color: #709d98; 
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    max-width: 400px;
    padding: 20px;
    margin-top: -5%;
    background: #f2f2f2;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .forgot {
    text-align: right;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  

  .error {
    color: red;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 15px;
}

.span {
  text-align: center;
}

.error-msg{
  color: red;
  size: 14px;
   margin-top: 5px;
   font-size: 15px;
}